@tailwind base;
@tailwind components;
@tailwind utilities;

.published-site-frame {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.published-site-iframe {
  border: none;
  width: 100%;
  height: 100%;
  display: block;
}
